<ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link" href="/">Home</a> </li>
    <li class="nav-item"><a class="nav-link" href="/about">About me</a> </li>
    <li class="nav-item"><a class="nav-link" href="/projects">Projects</a> </li>
    <li class="nav-item"><a class="nav-link" href="/tittie">Tittie</a> </li>
</ul>